<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../view/index.css">
  <script src="../model/competences.js"></script>
  <script src="../model/exchange_rates.js"></script>
    <script src="../model/const.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dollar-code</title>
</head>
<body>
    <div class="main-container">
      
        <div class="nav-bar">
            <!-- Logo et nom application -->
            <div class="logo">
                <img src="../images/logo.png" alt="logo">
                <h1>Dollar-code</h1>
            </div>

            <div class="nav-links">
                <ul>
                    <!-- Lien des différents graphiques -->
                    <a href="../view/index.html"><li>Experience / Etudes </li></a>
                    <a href="../view/competences.html"><li>Compétences</li></a>
                </ul>
            </div>

        </div>

        <div class="main-content">
            <h2>Compétences</h2>
            <h3>Salaire moyen en fonction du pays, de l'expérience & des plateformes clouds utilisé</h3>
            <div class="chart">
                <canvas id="chart"></canvas>
            </div>
            <form>
                <select id="zoneSelect">
                    <option value="">Sélectionnez la zone géographique</option>
                    <option value="WE">Europe</option>
                    <option value="NA">Amérique du Nord</option>
                </select>
                <select id="countrySelect">
                    <option value="">Sélectionnez le pays</option>
                </select>
                <select id="experienceSelect">
                    <option value="">Années d'expériences</option>
                    <option value="0-5">Entre 0 & 5 ans</option>
                    <option value="5-10">Entre 5 & 10 ans</option>
                    <option value="10-15">Entre 10 & 15 ans</option>
                    <option value="15-20">Entre 15 & 20 ans</option>
                    <option value="20-25">Entre 20 & 25 ans</option>
                    <option value="25-30">Entre 25 & 30 ans</option>
                    <option value="30-35">Entre 30 & 35 ans</option>
                    <option value="35-40">Entre 35 & 40 ans</option>
                    <option value="40-45">Entre 40 & 45 ans</option>
                    <option value="45-50">Entre 45 & 50 ans</option>
                </select>
                <button type="button" id="submitButton">Rechercher</button>
            </form>
        </div>

    </div>
</body>
</html>
                
            </form>
        </div>

    </div>
</body>
</html>