<!DOCTYPE html>
<html lang="fr">
<head>

  <meta charset="UTF-8">
  <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../view/index.css">

  <title>Dollar-code</title>

</head>

<body>
    <div class="main-container">
      
        <div class="nav-bar">
            <!-- Logo et nom application -->
            <div class="logo">
                <img src="../images/logo.png" alt="logo">
                <h1>Dollar-code</h1>
            </div>

            <div class="nav-links">
                <ul>
                    <!-- Lien des différents graphiques -->
                    <a href="../view/index.html"><li>Accueil</li></a>
                    <a href="../view/experience.html"><li>Experience / Etudes </li></a>
                    <a href="../view/competences.html"><li>Compétences</li></a>
                    <a href="../view/preferences.html"><li>Préférences</li></a>
                </ul>
            </div>

        </div>

        <div class="main-content">
            <br>
            <h1>Bienvenu sur Dollar-code !</h1><br>
            <p class="accueil_desc"><strong>Présentation :</strong><br><br> Dollar-Code est une plateforme qui affiche des statistiques sur les développeurs, basées sur une enquête réalisée par Slack. Obtenez des insights sur les tendances,
                 les compétences et les outils préférés des développeurs grâce à notre interface.
                Parfait pour rester à jour ou prendre des décisions éclairées en matière de recrutement. 
            </p>

            <p class="accueil_desc">
                <strong>Remarque :</strong> </br></br>
                Pour chaque graphique, il y a la possibilité de modulé les données affichées à l'aide de filtres. Si certains graphique n'affichent pas de données avec certains filtres,
                c'est que les données sont soit inexistantes, soit jugées non représentatives.
            </p>

            <p class="accueil_desc"><strong>Cadre :</strong> </br></br> Ce projet a été réalisé dans le cadre de la ressource R5.C.04 - Programmation au format web des informations décisionnelles au sein de l'université 
                Paul Sabatier de Toulouse. 
            </p>
        </div>
    </div>
</body>
</html>