<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="../view/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../view/index.css">
  <script src="../model/index.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dollar-code</title>
</head>
<body>
    <div class="main-container">
      
        <div class="nav-bar">
            <!-- Logo et nom application -->
            <div class="logo">
                <img src="../view/logo.png" alt="logo">
                <h1>Dollar-code</h1>
            </div>

            <div class="nav-links">
                <ul>
                    
                </ul>
            </div>

        </div>

        <div class="main-content">
            <canvas id="myChart"></canvas>
            <form>
                <select id="zoneSelect">
                    <option value="">Sélectionnez la zone géographique</option>
                    <option value="NA">Europe</option>
                    <option value="WE">Amérique du Nord</option>
                </select>
                <select id="countrySelect">
                    <option value="">Sélectionnez le pays</option>
                </select>
                <select id="experienceSelect">
                    <option value="">Niveau d'étude</option>
                </select>

                <button type="button" id="submit">Valider</button>
            </form>
        </div>

    </div>
</body>
</html>
                
            </form>
        </div>

    </div>
</body>
</html>
