h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}

.logo{display: flex;align-items: center;flex-direction: row;}

.logo img{
    
height: 60px;
}

.main-container{

height: 100vh;

display: flex;

flex-direction: row;
}

.chart{
    min-width: 450px;
    margin-bottom: 20px;
    max-width: 600px;
}

.chart_bar{
    min-width: 600px;
    margin-bottom: 20px;
    max-width: 800px;
}

.main-container .nav-bar{

background-color: #98d69fe0;

width: 25vw;

max-width: 210px;

min-width: 210px;

height: 100vh;
}

.main-container .nav-links{

}

.main-container .main-content{

width: 100%;

height: 100%;

display: flex;

flex-direction: column;

align-items: center;

overflow-y: auto;

margin-left: 10px;
}

body{
    
margin: 0;
    
height: 100vh;
    
width: 100vw;
}

h2, h3, h4, li{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.filter-bar{
    
margin-bottom: 30px;
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin: 10px;
}

.accueil_desc{
    text-align: justify;
}



